# Environnement de PRODUCTION
# Renommer ce fichier en .env.production

# ===== VARIABLES SERVEUR =====
API_KEY_RESEND=re_VotreCleResendProd
CONTACT_EMAIL=votre-email@gmail.com
PORT=3001

# ===== VARIABLES CLIENT (Vite) =====
# URL de votre API en production
VITE_API_URL=https://api.noletandrews.ca

