# Environnement de DÉVELOPPEMENT (local)
# Renommer ce fichier en .env.development

# ===== VARIABLES SERVEUR =====
API_KEY_RESEND=re_VotreCleResend
CONTACT_EMAIL=votre-email@gmail.com
PORT=3001

# ===== VARIABLES CLIENT (Vite) =====
VITE_API_URL=http://localhost:3001

